<h1>Add New Word</h1>
<h3>Add a new word here:</h3>

<form action="/words" method="post">
  <div class="form-group">
    <label for="word">Enter your word:</label>
    <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Add Word!</button>
